n8n_workflows/SelfFlows/develotech2-workflows/U3s9gpvBTgBbszlO-api_temp2.json
{
  "name": "api-temp2",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "GET",
          "PATCH",
          "DELETE"
        ],
        "path": "api/employee/:id",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        176
      ],
      "id": "044dc030-f7c4-4860-b2e1-6416ebed3c68",
      "name": "Webhook1",
      "webhookId": "885e0da1-8c2f-440f-ac0a-20b7a8bf977c"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appB6h3olTXFIJxcm",
          "mode": "list",
          "cachedResultName": "AI Data Analyst",
          "cachedResultUrl": "https://airtable.com/appB6h3olTXFIJxcm"
        },
        "table": {
          "__rl": true,
          "value": "tblRrofF9cqzmGwYb",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://airtable.com/appB6h3olTXFIJxcm/tblRrofF9cqzmGwYb"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Probation Completed": false,
            "Salary": "={{ $('Webhook1').item.json.body.Salary }}",
            "Remaining Vacation Days": "={{ $('Webhook1').item.json.body[\"Remaining Vacation Days\"] }}",
            "id": "={{ $json.id }}",
            "Manager Name": "={{ $('Webhook1').item.json.body[\"Manager Name\"] }}",
            "Hire Date": "={{ $('Webhook1').item.json.body[\"Hire Date\"] }}",
            "Phone Number": "={{ $('Webhook1').item.json.body[\"Phone Number\"] }}",
            "Email": "={{ $('Webhook1').item.json.body[\"Email\"] }}",
            "Department": "={{ $('Webhook1').item.json.body[\"Department\"] }}",
            "Position": "={{ $('Webhook1').item.json.body.Position }}",
            "Date of Birth": "={{ $('Webhook1').item.json.body[\"Date of Birth\"] }}",
            "Last Name": "={{ $('Webhook1').item.json.body[\"Last Name\"] }}",
            "First Name": "={{ $('Webhook1').item.json.body[\"First Name\"] }}",
            "Employee ID": "={{ $('Webhook1').item.json.params.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Employee ID",
              "displayName": "Employee ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date of Birth",
              "displayName": "Date of Birth",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Position",
              "displayName": "Position",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Human Resources",
                  "value": "Human Resources"
                },
                {
                  "name": "IT",
                  "value": "IT"
                },
                {
                  "name": "Marketing",
                  "value": "Marketing"
                },
                {
                  "name": "Sales",
                  "value": "Sales"
                },
                {
                  "name": "Finance",
                  "value": "Finance"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hire Date",
              "displayName": "Hire Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Salary",
              "displayName": "Salary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Manager Name",
              "displayName": "Manager Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Bob Johnson",
                  "value": "Bob Johnson"
                },
                {
                  "name": "Charlie Lee",
                  "value": "Charlie Lee"
                },
                {
                  "name": "Diana Adams",
                  "value": "Diana Adams"
                },
                {
                  "name": "Ethan Clark",
                  "value": "Ethan Clark"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Remaining Vacation Days",
              "displayName": "Remaining Vacation Days",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Probation Completed",
              "displayName": "Probation Completed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        384,
        192
      ],
      "id": "540298fc-dfea-4778-b8d7-722e118e9865",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "pAKK7bijgGwdw5ok",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteRecord",
        "base": {
          "__rl": true,
          "value": "appB6h3olTXFIJxcm",
          "mode": "list",
          "cachedResultName": "AI Data Analyst",
          "cachedResultUrl": "https://airtable.com/appB6h3olTXFIJxcm"
        },
        "table": {
          "__rl": true,
          "value": "tblRrofF9cqzmGwYb",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://airtable.com/appB6h3olTXFIJxcm/tblRrofF9cqzmGwYb"
        },
        "id": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        384,
        384
      ],
      "id": "3c8ae5ab-ae5a-4a70-8d38-a22c398392c0",
      "name": "Delete a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "pAKK7bijgGwdw5ok",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1088,
        192
      ],
      "id": "1ae833b9-879e-45d1-9bb4-5a0b1b2d98de",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appB6h3olTXFIJxcm",
          "mode": "list",
          "cachedResultName": "AI Data Analyst",
          "cachedResultUrl": "https://airtable.com/appB6h3olTXFIJxcm"
        },
        "table": {
          "__rl": true,
          "value": "tblRrofF9cqzmGwYb",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://airtable.com/appB6h3olTXFIJxcm/tblRrofF9cqzmGwYb"
        },
        "filterByFormula": "={Employee ID} = '{{$json.params.id}}'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        336,
        -16
      ],
      "id": "43799c61-191b-4f94-b419-8bbd969aa6b0",
      "name": "Search records",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "pAKK7bijgGwdw5ok",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appB6h3olTXFIJxcm",
          "mode": "list",
          "cachedResultName": "AI Data Analyst",
          "cachedResultUrl": "https://airtable.com/appB6h3olTXFIJxcm"
        },
        "table": {
          "__rl": true,
          "value": "tblRrofF9cqzmGwYb",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://airtable.com/appB6h3olTXFIJxcm/tblRrofF9cqzmGwYb"
        },
        "filterByFormula": "={Employee ID} = '{{$json.params.id}}'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        144,
        384
      ],
      "id": "d0c73a99-a963-4cc0-b15b-809230ce4111",
      "name": "Search records1",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "pAKK7bijgGwdw5ok",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appB6h3olTXFIJxcm",
          "mode": "list",
          "cachedResultName": "AI Data Analyst",
          "cachedResultUrl": "https://airtable.com/appB6h3olTXFIJxcm"
        },
        "table": {
          "__rl": true,
          "value": "tblRrofF9cqzmGwYb",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://airtable.com/appB6h3olTXFIJxcm/tblRrofF9cqzmGwYb"
        },
        "filterByFormula": "={Employee ID} = '{{$json.params.id}}'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        160,
        192
      ],
      "id": "57be11c6-6b19-4012-8873-16a87104445e",
      "name": "Search records2",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "pAKK7bijgGwdw5ok",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search records2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search records1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a record": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records1": {
      "main": [
        [
          {
            "node": "Delete a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records2": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}