n8n_workflows/SelfFlows/aleestvr5-workflows/vfhoytaog87der4o-Exa_ai_Researcher.json
{
  "name": "Exa_ai_Researcher",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "d269fbe9-6e9a-486d-adfd-74bb487c4200",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -64,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.exa.ai/research/v0/tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "6a601f3d-16c4-4636-8acb-7e7c688ff3ad"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"exa-research\",\n  \"instructions\": \"{{ $json.query }}\",\n  \"output\": {\n    \"inferSchema\": true\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        96
      ],
      "id": "a7b66854-4382-4e03-9e41-a106da872d2a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://api.exa.ai/research/v0/tasks/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "6a601f3d-16c4-4636-8acb-7e7c688ff3ad"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        608,
        96
      ],
      "id": "ba8881b2-6f82-4e0e-a7cd-2526578664ad",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        384,
        96
      ],
      "id": "412a94e1-9c5a-4bc3-8c89-9a9dc4e64e49",
      "name": "Wait",
      "webhookId": "c157da87-9673-4547-97e8-30dd8b86ff9f"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": null
}