n8n_workflows/SelfFlows/aleestvr5-workflows/xKKar4LrWLmOPDp1-My_workflow_2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "=api/employees",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -816,
        -32
      ],
      "id": "10b44006-230c-4855-a278-91fc32c53098",
      "name": "Webhook",
      "webhookId": "885e0da1-8c2f-440f-ac0a-20b7a8bf977c"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1584,
        -400
      ],
      "id": "c8a20a3e-02ec-4327-9bd1-7eea0a101969",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Hd17GcAxinQ3Sy0I_0ESu_pThhQvbW3HaeXt85YACsQ",
          "mode": "list",
          "cachedResultName": "employee",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Hd17GcAxinQ3Sy0I_0ESu_pThhQvbW3HaeXt85YACsQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Hd17GcAxinQ3Sy0I_0ESu_pThhQvbW3HaeXt85YACsQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1344,
        -400
      ],
      "id": "0605f9cf-3807-4806-874e-9d730b113073",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "I3FyUo19evE2T3Oo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appB6h3olTXFIJxcm",
          "mode": "list",
          "cachedResultName": "AI Data Analyst",
          "cachedResultUrl": "https://airtable.com/appB6h3olTXFIJxcm"
        },
        "table": {
          "__rl": true,
          "value": "tblRrofF9cqzmGwYb",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://airtable.com/appB6h3olTXFIJxcm/tblRrofF9cqzmGwYb"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Probation Completed": false
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Employee ID",
              "displayName": "Employee ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date of Birth",
              "displayName": "Date of Birth",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Position",
              "displayName": "Position",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Human Resources",
                  "value": "Human Resources"
                },
                {
                  "name": "IT",
                  "value": "IT"
                },
                {
                  "name": "Marketing",
                  "value": "Marketing"
                },
                {
                  "name": "Sales",
                  "value": "Sales"
                },
                {
                  "name": "Finance",
                  "value": "Finance"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hire Date",
              "displayName": "Hire Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Salary",
              "displayName": "Salary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Manager Name",
              "displayName": "Manager Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Bob Johnson",
                  "value": "Bob Johnson"
                },
                {
                  "name": "Charlie Lee",
                  "value": "Charlie Lee"
                },
                {
                  "name": "Diana Adams",
                  "value": "Diana Adams"
                },
                {
                  "name": "Ethan Clark",
                  "value": "Ethan Clark"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Remaining Vacation Days",
              "displayName": "Remaining Vacation Days",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Probation Completed",
              "displayName": "Probation Completed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1136,
        -400
      ],
      "id": "a13c4e42-41f8-45c7-b148-9090aa1952f3",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "xQw9UdXnAEHDF0xc",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "GET",
          "PATCH",
          "DELETE"
        ],
        "path": "=api/employees/:id",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -816,
        400
      ],
      "id": "047c106d-ac2b-4e10-9492-2c86234793b1",
      "name": "Webhook1",
      "webhookId": "885e0da1-8c2f-440f-ac0a-20b7a8bf977c"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appB6h3olTXFIJxcm",
          "mode": "list",
          "cachedResultName": "AI Data Analyst",
          "cachedResultUrl": "https://airtable.com/appB6h3olTXFIJxcm"
        },
        "table": {
          "__rl": true,
          "value": "tblRrofF9cqzmGwYb",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://airtable.com/appB6h3olTXFIJxcm/tblRrofF9cqzmGwYb"
        },
        "options": {
          "view": {
            "__rl": true,
            "value": "viwhYTX9ph6qKnmXX",
            "mode": "list",
            "cachedResultName": "Grid view",
            "cachedResultUrl": "https://airtable.com/appB6h3olTXFIJxcm/tblRrofF9cqzmGwYb/viwhYTX9ph6qKnmXX"
          }
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -224,
        -224
      ],
      "id": "f4c1a94e-4954-45ff-922b-12668e2e34ca",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "xQw9UdXnAEHDF0xc",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        816,
        240
      ],
      "id": "fc418abf-3019-4860-a07d-15c3d6e5caad",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appB6h3olTXFIJxcm",
          "mode": "list",
          "cachedResultName": "AI Data Analyst",
          "cachedResultUrl": "https://airtable.com/appB6h3olTXFIJxcm"
        },
        "table": {
          "__rl": true,
          "value": "tblRrofF9cqzmGwYb",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://airtable.com/appB6h3olTXFIJxcm/tblRrofF9cqzmGwYb"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Probation Completed": false,
            "Salary": 0,
            "Remaining Vacation Days": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Employee ID",
              "displayName": "Employee ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date of Birth",
              "displayName": "Date of Birth",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Position",
              "displayName": "Position",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Human Resources",
                  "value": "Human Resources"
                },
                {
                  "name": "IT",
                  "value": "IT"
                },
                {
                  "name": "Marketing",
                  "value": "Marketing"
                },
                {
                  "name": "Sales",
                  "value": "Sales"
                },
                {
                  "name": "Finance",
                  "value": "Finance"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hire Date",
              "displayName": "Hire Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Salary",
              "displayName": "Salary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Manager Name",
              "displayName": "Manager Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Bob Johnson",
                  "value": "Bob Johnson"
                },
                {
                  "name": "Charlie Lee",
                  "value": "Charlie Lee"
                },
                {
                  "name": "Diana Adams",
                  "value": "Diana Adams"
                },
                {
                  "name": "Ethan Clark",
                  "value": "Ethan Clark"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Remaining Vacation Days",
              "displayName": "Remaining Vacation Days",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Probation Completed",
              "displayName": "Probation Completed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -224,
        32
      ],
      "id": "123c71bc-96e3-442a-9aea-fc5591809181",
      "name": "Create a record1",
      "credentials": {
        "airtableTokenApi": {
          "id": "xQw9UdXnAEHDF0xc",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appB6h3olTXFIJxcm",
          "mode": "list",
          "cachedResultName": "AI Data Analyst",
          "cachedResultUrl": "https://airtable.com/appB6h3olTXFIJxcm"
        },
        "table": {
          "__rl": true,
          "value": "tblRrofF9cqzmGwYb",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://airtable.com/appB6h3olTXFIJxcm/tblRrofF9cqzmGwYb"
        },
        "options": {
          "view": {
            "__rl": true,
            "value": "viwhYTX9ph6qKnmXX",
            "mode": "list",
            "cachedResultName": "Grid view",
            "cachedResultUrl": "https://airtable.com/appB6h3olTXFIJxcm/tblRrofF9cqzmGwYb/viwhYTX9ph6qKnmXX"
          }
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -224,
        304
      ],
      "id": "e0c01c5d-dbc8-4a63-ac97-1b620e68a4ca",
      "name": "Search records1",
      "credentials": {
        "airtableTokenApi": {
          "id": "xQw9UdXnAEHDF0xc",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appB6h3olTXFIJxcm",
          "mode": "list",
          "cachedResultName": "AI Data Analyst",
          "cachedResultUrl": "https://airtable.com/appB6h3olTXFIJxcm"
        },
        "table": {
          "__rl": true,
          "value": "tblRrofF9cqzmGwYb",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://airtable.com/appB6h3olTXFIJxcm/tblRrofF9cqzmGwYb"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Probation Completed": false
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Employee ID",
              "displayName": "Employee ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date of Birth",
              "displayName": "Date of Birth",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Position",
              "displayName": "Position",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Human Resources",
                  "value": "Human Resources"
                },
                {
                  "name": "IT",
                  "value": "IT"
                },
                {
                  "name": "Marketing",
                  "value": "Marketing"
                },
                {
                  "name": "Sales",
                  "value": "Sales"
                },
                {
                  "name": "Finance",
                  "value": "Finance"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hire Date",
              "displayName": "Hire Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Salary",
              "displayName": "Salary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Manager Name",
              "displayName": "Manager Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Bob Johnson",
                  "value": "Bob Johnson"
                },
                {
                  "name": "Charlie Lee",
                  "value": "Charlie Lee"
                },
                {
                  "name": "Diana Adams",
                  "value": "Diana Adams"
                },
                {
                  "name": "Ethan Clark",
                  "value": "Ethan Clark"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Remaining Vacation Days",
              "displayName": "Remaining Vacation Days",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Probation Completed",
              "displayName": "Probation Completed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -240,
        512
      ],
      "id": "92adf1d1-4d37-426a-bcee-b22e705bdc8d",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "xQw9UdXnAEHDF0xc",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteRecord",
        "base": {
          "__rl": true,
          "value": "appB6h3olTXFIJxcm",
          "mode": "list",
          "cachedResultName": "AI Data Analyst",
          "cachedResultUrl": "https://airtable.com/appB6h3olTXFIJxcm"
        },
        "table": {
          "__rl": true,
          "value": "tblRrofF9cqzmGwYb",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://airtable.com/appB6h3olTXFIJxcm/tblRrofF9cqzmGwYb"
        },
        "id": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -240,
        720
      ],
      "id": "f2e083fc-2264-49ce-8d91-4d5cd16576fd",
      "name": "Delete a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "xQw9UdXnAEHDF0xc",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "verify",
        "options": {}
      },
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [
        -1184,
        176
      ],
      "id": "53c3f3dc-c262-4d5b-95fe-182d5ee68977",
      "name": "JWT"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Search records1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a record": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}