n8n_workflows/Make/Instagram 2 Linkedin.blueprint.json
{
    "name": "Instagram 2 Linkedin",
    "flow": [
        {
            "id": 10,
            "module": "telegram:WatchUpdates",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 2100417
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 300
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "My Telegram Bot Updates webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:telegramapi",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 15,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 55,
                            "module": "openai-gpt-3:CreateCompletion",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 7355060
                            },
                            "filter": {
                                "name": "If Caption Reply",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{10.message.reply_to_message}}",
                                            "o": "exist"
                                        },
                                        {
                                            "a": "{{10.message.text}}",
                                            "b": "https://",
                                            "o": "text:notcontain:ci"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "model": "gpt-4.1-nano",
                                "top_p": "1",
                                "select": "chat",
                                "messages": [
                                    {
                                        "role": "assistant",
                                        "content": "You are a smart, witty, and visionary assistant who writes short, professional, and inspiring sentences about how AI tools are positively transforming industries. Your writing is intended for a LinkedIn audience of professionals and accompanies an engaging video. The tone should be human, forward-thinking, and uplifting — showing how AI is reshaping the world for the better."
                                    },
                                    {
                                        "role": "user",
                                        "content": "Write 2 short, inspiring LinkedIn-style sentences using these keywords: {{10.message.text}}. Then add 3 relevant hashtags that match the theme. No bullet points. Keep it human, professional, and optimistic."
                                    }
                                ],
                                "max_tokens": "100",
                                "temperature": "1",
                                "n_completions": "1",
                                "response_format": "text"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "stop": {
                                            "mode": "chose"
                                        },
                                        "model": {
                                            "mode": "chose",
                                            "label": "gpt-4.1-nano (system)"
                                        },
                                        "select": {
                                            "label": "Create a Chat Completion (GPT and o1 models)"
                                        },
                                        "messages": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "Assistant"
                                                    }
                                                },
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    }
                                                }
                                            ]
                                        },
                                        "logit_bias": {
                                            "mode": "chose"
                                        },
                                        "response_format": {
                                            "mode": "chose",
                                            "label": "Text"
                                        },
                                        "additionalParameters": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "openai-gpt-3"
                                            },
                                            "label": "My OpenAI Linkedin Connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:openai-gpt-3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Select Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "chat",
                                                "prompt"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature",
                                        "validate": {
                                            "max": 2,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P",
                                        "validate": {
                                            "max": 1,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "n_completions",
                                        "type": "number",
                                        "label": "Number"
                                    },
                                    {
                                        "name": "frequency_penalty",
                                        "type": "number",
                                        "label": "Frequency Penalty",
                                        "validate": {
                                            "max": 2,
                                            "min": -2
                                        }
                                    },
                                    {
                                        "name": "presence_penalty",
                                        "type": "number",
                                        "label": "Presence Penalty",
                                        "validate": {
                                            "max": 2,
                                            "min": -2
                                        }
                                    },
                                    {
                                        "name": "logit_bias",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "token",
                                                    "type": "text",
                                                    "label": "Token ID",
                                                    "required": true
                                                },
                                                {
                                                    "name": "probability",
                                                    "type": "number",
                                                    "label": "Probability",
                                                    "required": true,
                                                    "validate": {
                                                        "max": 100,
                                                        "min": -100
                                                    }
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Token Probability"
                                        },
                                        "type": "array",
                                        "label": "Token Probability"
                                    },
                                    {
                                        "name": "seed",
                                        "type": "integer",
                                        "label": "Seed"
                                    },
                                    {
                                        "name": "stop",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Stop Sequence"
                                        },
                                        "type": "array",
                                        "label": "Stop Sequences",
                                        "validate": {
                                            "maxItems": 4
                                        }
                                    },
                                    {
                                        "name": "additionalParameters",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Parameter Name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "type",
                                                    "type": "select",
                                                    "label": "Input Type",
                                                    "options": [
                                                        {
                                                            "label": "Text",
                                                            "value": "text",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "text",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ],
                                                            "default": true
                                                        },
                                                        {
                                                            "label": "Number",
                                                            "value": "number",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "number",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Boolean",
                                                            "value": "boolean",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "boolean",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Date",
                                                            "value": "date",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "date",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Any",
                                                            "value": "any",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "any",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Input Parameter"
                                        },
                                        "type": "array",
                                        "label": "Other Input Parameters"
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "max_tokens",
                                        "type": "uinteger",
                                        "label": "Max Completion Tokens"
                                    },
                                    {
                                        "name": "messages",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "role",
                                                    "type": "select",
                                                    "label": "Role",
                                                    "options": {
                                                        "store": [
                                                            {
                                                                "label": "User",
                                                                "value": "user",
                                                                "nested": [
                                                                    {
                                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                                        "name": "content",
                                                                        "type": "text",
                                                                        "label": "Text Content"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Assistant",
                                                                "value": "assistant",
                                                                "nested": [
                                                                    {
                                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                                        "name": "content",
                                                                        "type": "text",
                                                                        "label": "Text Content"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Developer / System",
                                                                "value": "system",
                                                                "nested": [
                                                                    {
                                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                                        "name": "content",
                                                                        "type": "text",
                                                                        "label": "Text Content"
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "required": true
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Message"
                                        },
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "json_object"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "result",
                                        "type": "any",
                                        "label": "Result"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "object",
                                        "type": "text",
                                        "label": "Object"
                                    },
                                    {
                                        "name": "created",
                                        "type": "date",
                                        "label": "Created"
                                    },
                                    {
                                        "name": "model",
                                        "type": "text",
                                        "label": "Model"
                                    },
                                    {
                                        "name": "choices",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "text",
                                                    "type": "text",
                                                    "label": "Text"
                                                },
                                                {
                                                    "name": "index",
                                                    "type": "number",
                                                    "label": "Index"
                                                },
                                                {
                                                    "name": "logprobs",
                                                    "type": "text",
                                                    "label": "Log Probs"
                                                },
                                                {
                                                    "name": "finish_reason",
                                                    "type": "text",
                                                    "label": "Finish Reason"
                                                },
                                                {
                                                    "name": "message",
                                                    "spec": [
                                                        {
                                                            "name": "role",
                                                            "type": "text",
                                                            "label": "Role"
                                                        },
                                                        {
                                                            "name": "content",
                                                            "type": "text",
                                                            "label": "Content"
                                                        },
                                                        {
                                                            "name": "refusal",
                                                            "type": "text",
                                                            "label": "Refusal"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Message"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array",
                                        "label": "Choices"
                                    },
                                    {
                                        "name": "usage",
                                        "spec": [
                                            {
                                                "name": "prompt_tokens",
                                                "type": "number",
                                                "label": "Prompt Tokens"
                                            },
                                            {
                                                "name": "completion_tokens",
                                                "type": "text",
                                                "label": "Completion Tokens"
                                            },
                                            {
                                                "name": "total_tokens",
                                                "type": "number",
                                                "label": "Total Tokens"
                                            },
                                            {
                                                "name": "prompt_tokens_details",
                                                "spec": [
                                                    {
                                                        "name": "cached_tokens",
                                                        "type": "uinteger",
                                                        "label": "Cached Tokens"
                                                    },
                                                    {
                                                        "name": "text_tokens",
                                                        "type": "uinteger",
                                                        "label": "Text Tokens"
                                                    },
                                                    {
                                                        "name": "image_tokens",
                                                        "type": "uinteger",
                                                        "label": "Image Tokens"
                                                    },
                                                    {
                                                        "name": "audio_tokens",
                                                        "type": "uinteger",
                                                        "label": "Audio Tokens"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Prompt Tokens Details"
                                            },
                                            {
                                                "name": "completion_tokens_details",
                                                "spec": [
                                                    {
                                                        "name": "reasoning_tokens",
                                                        "type": "uinteger",
                                                        "label": "Reasoning Tokens"
                                                    },
                                                    {
                                                        "name": "text_tokens",
                                                        "type": "uinteger",
                                                        "label": "Text Tokens"
                                                    },
                                                    {
                                                        "name": "audio_tokens",
                                                        "type": "uinteger",
                                                        "label": "Audio Tokens"
                                                    },
                                                    {
                                                        "name": "accepted_prediction_tokens",
                                                        "type": "uinteger",
                                                        "label": "Accepted Prediction Tokens"
                                                    },
                                                    {
                                                        "name": "rejected_prediction_tokens",
                                                        "type": "uinteger",
                                                        "label": "Rejected Prediction Tokens"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Completion Tokens Details"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Usage"
                                    },
                                    {
                                        "name": "service_tier",
                                        "type": "text",
                                        "label": "Service Tier"
                                    },
                                    {
                                        "name": "system_fingerprint",
                                        "type": "text",
                                        "label": "System Fingerprint"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 29,
                            "module": "datastore:SearchRecord",
                            "version": 1,
                            "parameters": {
                                "limit": null,
                                "datastore": 68368,
                                "continueWhenNoRes": false
                            },
                            "mapper": {
                                "sort": [],
                                "filter": [
                                    [
                                        {
                                            "a": "msg_id",
                                            "b": "{{10.message.reply_to_message.message_id}}",
                                            "o": "text:equal"
                                        }
                                    ]
                                ],
                                "mappAbleLimit": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "datastore": {
                                            "label": "My data store"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    },
                                    {
                                        "name": "continueWhenNoRes",
                                        "type": "boolean",
                                        "label": "Continue the execution of the route even if the module returns no results"
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "filter",
                                        "type": "filter",
                                        "label": "Filter",
                                        "options": "rpc://datastore/1.11.0/RpcGetUDTKeys",
                                        "required": true
                                    },
                                    {
                                        "name": "sort",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "select",
                                                "label": "Key",
                                                "dynamic": true,
                                                "options": [],
                                                "required": true
                                            },
                                            {
                                                "name": "order",
                                                "type": "select",
                                                "label": "Order",
                                                "options": [
                                                    {
                                                        "label": "Ascending",
                                                        "value": 1
                                                    },
                                                    {
                                                        "label": "Descending",
                                                        "value": -1
                                                    }
                                                ],
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Sort"
                                    },
                                    {
                                        "name": "mappAbleLimit",
                                        "type": "uinteger",
                                        "label": "Mappable Limit"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "msg_id",
                                                "type": "number",
                                                "label": null,
                                                "default": null,
                                                "required": false
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "name": "caption",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 30,
                            "module": "datastore:AddRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 68368
                            },
                            "mapper": {
                                "key": "{{29.key}}",
                                "data": {
                                    "link": "{{29.data.link}}",
                                    "msg_id": "{{10.message.reply_to_message.message_id}}",
                                    "caption": "{{55.result}}"
                                },
                                "overwrite": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "overwrite": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "My data store"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                    },
                                    {
                                        "name": "overwrite",
                                        "type": "boolean",
                                        "label": "Overwrite an existing record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "msg_id",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "caption",
                                                "type": "text",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 35,
                            "module": "datastore:GetRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 68368
                            },
                            "mapper": {
                                "key": "{{30.key}}",
                                "returnWrapped": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "datastore": {
                                            "label": "My data store"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true
                                    },
                                    {
                                        "name": "returnWrapped",
                                        "type": "boolean",
                                        "label": "Return Wrapped Output",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "msg_id",
                                        "type": "number",
                                        "label": null,
                                        "default": null,
                                        "required": false
                                    },
                                    {
                                        "name": "link",
                                        "type": "text",
                                        "label": null,
                                        "default": null,
                                        "required": false,
                                        "multiline": false
                                    },
                                    {
                                        "name": "caption",
                                        "type": "text",
                                        "label": null,
                                        "default": null,
                                        "required": false,
                                        "multiline": false
                                    }
                                ]
                            }
                        },
                        {
                            "id": 54,
                            "module": "buffer:ActionCreateStatus",
                            "version": 2,
                            "parameters": {
                                "account": 7351276
                            },
                            "mapper": {
                                "text": "{{35.caption}}, {{35.link}}",
                                "type": "now",
                                "shorten": true,
                                "useMedia": false,
                                "attachment": true,
                                "profileIds": [
                                    "67fe24a52799bb0a23bfbac7"
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "type": {
                                            "label": "Post immediately "
                                        },
                                        "shorten": {
                                            "mode": "chose"
                                        },
                                        "attachment": {
                                            "mode": "chose"
                                        },
                                        "profileIds": {
                                            "mode": "chose",
                                            "label": [
                                                "LinkedIn (Sadegh Tajik)"
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "buffer"
                                            },
                                            "label": "My Buffer connection (Sadegh Tajik)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:buffer",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "profileIds",
                                        "type": "select",
                                        "label": "Profiles",
                                        "multiple": true,
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Publication",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "now",
                                                "top",
                                                "queue",
                                                "scheduled"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "useMedia",
                                        "type": "boolean",
                                        "label": "Attach media to the update",
                                        "required": true
                                    },
                                    {
                                        "name": "shorten",
                                        "type": "boolean",
                                        "label": "Shorten links within text",
                                        "required": true
                                    },
                                    {
                                        "name": "attachment",
                                        "type": "boolean",
                                        "label": "Attach links in the text as media",
                                        "required": true
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 24,
                            "module": "datastore:AddRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 68368
                            },
                            "filter": {
                                "name": "If Link",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{10.message.text}}",
                                            "b": "https://",
                                            "o": "text:startwith:ci"
                                        },
                                        {
                                            "a": "{{10.message.reply_to_message}}",
                                            "o": "notexist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "key": "",
                                "data": {
                                    "link": "{{10.message.text}}",
                                    "msg_id": "{{10.message.message_id}}",
                                    "caption": ""
                                },
                                "overwrite": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "overwrite": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "My data store"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                    },
                                    {
                                        "name": "overwrite",
                                        "type": "boolean",
                                        "label": "Overwrite an existing record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "msg_id",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "caption",
                                                "type": "text",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 12,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 7322570
                            },
                            "mapper": {
                                "text": "Please give me the caption my lord.",
                                "chatId": "{{10.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "{{10.message.message_id}}",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "SadeghAISMbot"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 27,
                            "module": "datastore:SearchRecord",
                            "version": 1,
                            "parameters": {
                                "limit": null,
                                "datastore": 68368,
                                "continueWhenNoRes": false
                            },
                            "mapper": {
                                "sort": [],
                                "filter": [
                                    [
                                        {
                                            "a": "msg_id",
                                            "b": "{{12.reply_to_message.message_id}}",
                                            "o": "number:equal"
                                        }
                                    ]
                                ],
                                "mappAbleLimit": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "parameters": {
                                        "datastore": {
                                            "label": "My data store"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    },
                                    {
                                        "name": "continueWhenNoRes",
                                        "type": "boolean",
                                        "label": "Continue the execution of the route even if the module returns no results"
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "filter",
                                        "type": "filter",
                                        "label": "Filter",
                                        "options": "rpc://datastore/1.11.0/RpcGetUDTKeys",
                                        "required": true
                                    },
                                    {
                                        "name": "sort",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "select",
                                                "label": "Key",
                                                "dynamic": true,
                                                "options": [],
                                                "required": true
                                            },
                                            {
                                                "name": "order",
                                                "type": "select",
                                                "label": "Order",
                                                "options": [
                                                    {
                                                        "label": "Ascending",
                                                        "value": 1
                                                    },
                                                    {
                                                        "label": "Descending",
                                                        "value": -1
                                                    }
                                                ],
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Sort"
                                    },
                                    {
                                        "name": "mappAbleLimit",
                                        "type": "uinteger",
                                        "label": "Mappable Limit"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "msg_id",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "name": "caption",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 25,
                            "module": "datastore:AddRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 68368
                            },
                            "mapper": {
                                "key": "{{27.key}}",
                                "data": {
                                    "link": "{{27.data.link}}",
                                    "msg_id": "{{12.message_id}}",
                                    "caption": ""
                                },
                                "overwrite": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "overwrite": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "My data store"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                    },
                                    {
                                        "name": "overwrite",
                                        "type": "boolean",
                                        "label": "Overwrite an existing record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "msg_id",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "caption",
                                                "type": "text",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 57,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "if post",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{10.message.reply_to_message}}",
                                            "o": "notexist"
                                        },
                                        {
                                            "a": "{{10.message.photo}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "name": "LargeImageID",
                                "scope": "roundtrip",
                                "value": "{{get(10.message.photo; 4)}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 600
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "LargeImageID",
                                        "type": "any",
                                        "label": "LargeImageID"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 58,
                            "module": "openai-gpt-3:CreateCompletion",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 7355060
                            },
                            "mapper": {
                                "model": "gpt-4.1-nano",
                                "top_p": "1",
                                "select": "chat",
                                "messages": [
                                    {
                                        "role": "system",
                                        "content": "You are a personal content writer for LinkedIn posts, writing on behalf of Sadegh Tajik — an AI architect and aerospace researcher with deep experience in automation, algorithmic trading, and plasma-based propulsion systems.\n\nEach post should be written in his voice: witty, sharp, clear, informal, and insightful. Posts must be engaging, more than 1000 and less than 1500 characters, and may include 2–4 relevant hashtags. \n\nUse the keyword context rules below:\n- If keywords are only AI-related → write a post about AI\n- If keywords include both AI and automation → mention both\n- If keywords include aerospace, propulsion, or plasma → write about aerospace\n- If keywords include both AI and aerospace-related terms → connect them meaningfully\n\nAvoid fluff. Avoid passive tone. No generic advice. Sound real and confident. do not sound like a robot and the message should sound its written by a human.\n​"
                                    },
                                    {
                                        "role": "user",
                                        "content": "Write a LinkedIn post using these keywords: {{10.message.caption}}",
                                        "imageDetail": "auto"
                                    }
                                ],
                                "max_tokens": "2048",
                                "temperature": "1",
                                "n_completions": "1",
                                "response_format": "text"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 600
                                },
                                "restore": {
                                    "expect": {
                                        "stop": {
                                            "mode": "chose"
                                        },
                                        "model": {
                                            "mode": "chose",
                                            "label": "gpt-4.1-nano (system)"
                                        },
                                        "select": {
                                            "label": "Create a Chat Completion (GPT and o1 models)"
                                        },
                                        "messages": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "Developer / System"
                                                    }
                                                },
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    },
                                                    "imageDetail": {
                                                        "mode": "chose",
                                                        "label": "Auto"
                                                    },
                                                    "imageInputType": {
                                                        "mode": "chose",
                                                        "label": "Empty"
                                                    }
                                                }
                                            ]
                                        },
                                        "logit_bias": {
                                            "mode": "chose"
                                        },
                                        "response_format": {
                                            "mode": "chose",
                                            "label": "Text"
                                        },
                                        "additionalParameters": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "openai-gpt-3"
                                            },
                                            "label": "My OpenAI Linkedin Connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:openai-gpt-3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Select Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "chat",
                                                "prompt"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature",
                                        "validate": {
                                            "max": 2,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P",
                                        "validate": {
                                            "max": 1,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "n_completions",
                                        "type": "number",
                                        "label": "Number"
                                    },
                                    {
                                        "name": "frequency_penalty",
                                        "type": "number",
                                        "label": "Frequency Penalty",
                                        "validate": {
                                            "max": 2,
                                            "min": -2
                                        }
                                    },
                                    {
                                        "name": "presence_penalty",
                                        "type": "number",
                                        "label": "Presence Penalty",
                                        "validate": {
                                            "max": 2,
                                            "min": -2
                                        }
                                    },
                                    {
                                        "name": "logit_bias",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "token",
                                                    "type": "text",
                                                    "label": "Token ID",
                                                    "required": true
                                                },
                                                {
                                                    "name": "probability",
                                                    "type": "number",
                                                    "label": "Probability",
                                                    "required": true,
                                                    "validate": {
                                                        "max": 100,
                                                        "min": -100
                                                    }
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Token Probability"
                                        },
                                        "type": "array",
                                        "label": "Token Probability"
                                    },
                                    {
                                        "name": "seed",
                                        "type": "integer",
                                        "label": "Seed"
                                    },
                                    {
                                        "name": "stop",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Stop Sequence"
                                        },
                                        "type": "array",
                                        "label": "Stop Sequences",
                                        "validate": {
                                            "maxItems": 4
                                        }
                                    },
                                    {
                                        "name": "additionalParameters",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Parameter Name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "type",
                                                    "type": "select",
                                                    "label": "Input Type",
                                                    "options": [
                                                        {
                                                            "label": "Text",
                                                            "value": "text",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "text",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ],
                                                            "default": true
                                                        },
                                                        {
                                                            "label": "Number",
                                                            "value": "number",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "number",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Boolean",
                                                            "value": "boolean",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "boolean",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Date",
                                                            "value": "date",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "date",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Any",
                                                            "value": "any",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "any",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Input Parameter"
                                        },
                                        "type": "array",
                                        "label": "Other Input Parameters"
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "max_tokens",
                                        "type": "uinteger",
                                        "label": "Max Completion Tokens"
                                    },
                                    {
                                        "name": "messages",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "role",
                                                    "type": "select",
                                                    "label": "Role",
                                                    "options": {
                                                        "store": [
                                                            {
                                                                "label": "User",
                                                                "value": "user",
                                                                "nested": [
                                                                    {
                                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                                        "name": "content",
                                                                        "type": "text",
                                                                        "label": "Text Content"
                                                                    },
                                                                    {
                                                                        "name": "imageInputType",
                                                                        "type": "select",
                                                                        "label": "Image Input Type",
                                                                        "options": [
                                                                            {
                                                                                "label": "URL",
                                                                                "value": "url",
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                                                                        "name": "imageUrl",
                                                                                        "type": "url",
                                                                                        "label": "Image URL"
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Image File",
                                                                                "value": "file",
                                                                                "nested": [
                                                                                    {
                                                                                        "name": "imageFile",
                                                                                        "spec": [
                                                                                            {
                                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                                                                "name": "imageFilename",
                                                                                                "type": "filename",
                                                                                                "label": "Image Filename",
                                                                                                "semantic": "file:name",
                                                                                                "extension": [
                                                                                                    "jpg",
                                                                                                    "jpeg",
                                                                                                    "png",
                                                                                                    "webp",
                                                                                                    "gif"
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "name": "imageData",
                                                                                                "type": "buffer",
                                                                                                "label": "Image Data",
                                                                                                "semantic": "file:data"
                                                                                            }
                                                                                        ],
                                                                                        "type": "collection",
                                                                                        "label": "Image"
                                                                                    }
                                                                                ]
                                                                            }
                                                                        ],
                                                                        "mappable": false
                                                                    },
                                                                    {
                                                                        "help": "Recommended value: `Auto`",
                                                                        "name": "imageDetail",
                                                                        "type": "select",
                                                                        "label": "Image Detail",
                                                                        "options": [
                                                                            {
                                                                                "label": "Auto",
                                                                                "value": "auto",
                                                                                "default": true
                                                                            },
                                                                            {
                                                                                "label": "High",
                                                                                "value": "high"
                                                                            },
                                                                            {
                                                                                "label": "Low",
                                                                                "value": "low"
                                                                            }
                                                                        ]
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Assistant",
                                                                "value": "assistant",
                                                                "nested": [
                                                                    {
                                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                                        "name": "content",
                                                                        "type": "text",
                                                                        "label": "Text Content"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Developer / System",
                                                                "value": "system",
                                                                "nested": [
                                                                    {
                                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                                        "name": "content",
                                                                        "type": "text",
                                                                        "label": "Text Content"
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "required": true
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Message"
                                        },
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "json_object"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "result",
                                        "type": "any",
                                        "label": "Result"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "object",
                                        "type": "text",
                                        "label": "Object"
                                    },
                                    {
                                        "name": "created",
                                        "type": "date",
                                        "label": "Created"
                                    },
                                    {
                                        "name": "model",
                                        "type": "text",
                                        "label": "Model"
                                    },
                                    {
                                        "name": "choices",
                                        "spec": [
                                            {
                                                "name": "text",
                                                "type": "text",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "index",
                                                "type": "number",
                                                "label": "Index"
                                            },
                                            {
                                                "name": "logprobs",
                                                "type": "text",
                                                "label": "Log Probs"
                                            },
                                            {
                                                "name": "finish_reason",
                                                "type": "text",
                                                "label": "Finish Reason"
                                            },
                                            {
                                                "name": "message",
                                                "spec": [
                                                    {
                                                        "name": "role",
                                                        "type": "text",
                                                        "label": "Role"
                                                    },
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "refusal",
                                                        "type": "text",
                                                        "label": "Refusal"
                                                    },
                                                    {
                                                        "name": "annotations",
                                                        "spec": [
                                                            {
                                                                "name": "type",
                                                                "type": "text",
                                                                "label": "Type"
                                                            },
                                                            {
                                                                "name": "url_citation",
                                                                "spec": [
                                                                    {
                                                                        "name": "end_index",
                                                                        "type": "number",
                                                                        "label": "End Index"
                                                                    },
                                                                    {
                                                                        "name": "start_index",
                                                                        "type": "number",
                                                                        "label": "Start Index"
                                                                    },
                                                                    {
                                                                        "name": "title",
                                                                        "type": "text",
                                                                        "label": "Title"
                                                                    },
                                                                    {
                                                                        "name": "url",
                                                                        "type": "text",
                                                                        "label": "URL"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "URL Citation"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Annotations"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Message"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Choices"
                                    },
                                    {
                                        "name": "usage",
                                        "spec": [
                                            {
                                                "name": "prompt_tokens",
                                                "type": "number",
                                                "label": "Prompt Tokens"
                                            },
                                            {
                                                "name": "completion_tokens",
                                                "type": "text",
                                                "label": "Completion Tokens"
                                            },
                                            {
                                                "name": "total_tokens",
                                                "type": "number",
                                                "label": "Total Tokens"
                                            },
                                            {
                                                "name": "prompt_tokens_details",
                                                "spec": [
                                                    {
                                                        "name": "cached_tokens",
                                                        "type": "uinteger",
                                                        "label": "Cached Tokens"
                                                    },
                                                    {
                                                        "name": "text_tokens",
                                                        "type": "uinteger",
                                                        "label": "Text Tokens"
                                                    },
                                                    {
                                                        "name": "image_tokens",
                                                        "type": "uinteger",
                                                        "label": "Image Tokens"
                                                    },
                                                    {
                                                        "name": "audio_tokens",
                                                        "type": "uinteger",
                                                        "label": "Audio Tokens"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Prompt Tokens Details"
                                            },
                                            {
                                                "name": "completion_tokens_details",
                                                "spec": [
                                                    {
                                                        "name": "reasoning_tokens",
                                                        "type": "uinteger",
                                                        "label": "Reasoning Tokens"
                                                    },
                                                    {
                                                        "name": "text_tokens",
                                                        "type": "uinteger",
                                                        "label": "Text Tokens"
                                                    },
                                                    {
                                                        "name": "audio_tokens",
                                                        "type": "uinteger",
                                                        "label": "Audio Tokens"
                                                    },
                                                    {
                                                        "name": "accepted_prediction_tokens",
                                                        "type": "uinteger",
                                                        "label": "Accepted Prediction Tokens"
                                                    },
                                                    {
                                                        "name": "rejected_prediction_tokens",
                                                        "type": "uinteger",
                                                        "label": "Rejected Prediction Tokens"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Completion Tokens Details"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Usage"
                                    },
                                    {
                                        "name": "service_tier",
                                        "type": "text",
                                        "label": "Service Tier"
                                    },
                                    {
                                        "name": "system_fingerprint",
                                        "type": "text",
                                        "label": "System Fingerprint"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 59,
                            "module": "datastore:AddRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 68368
                            },
                            "mapper": {
                                "key": "",
                                "data": {
                                    "link": "NA",
                                    "msg_id": "{{10.edited_channel_post.message_id}}",
                                    "caption": "{{58.result}}"
                                },
                                "overwrite": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 600
                                },
                                "restore": {
                                    "expect": {
                                        "overwrite": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "My data store"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                    },
                                    {
                                        "name": "overwrite",
                                        "type": "boolean",
                                        "label": "Overwrite an existing record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "msg_id",
                                                "type": "number",
                                                "label": null
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "caption",
                                                "type": "text",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 63,
                            "module": "telegram:DownloadFile",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 7322570
                            },
                            "mapper": {
                                "fileId": "{{57.LargeImageID.file_id}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 600
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "SadeghAISMbot"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "fileId",
                                        "type": "text",
                                        "label": "File ID",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 62,
                            "module": "linkedin:ShareImage",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 7335233
                            },
                            "mapper": {
                                "data": "{{63.fileOutput}}",
                                "content": "{{58.result}}",
                                "fileName": "{{63.fileName}}",
                                "visibility": "PUBLIC",
                                "feedDistribution": "MAIN_FEED",
                                "isReshareDisabledByAuthor": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1796,
                                    "y": 589
                                },
                                "restore": {
                                    "expect": {
                                        "visibility": {
                                            "mode": "chose",
                                            "label": "Public"
                                        },
                                        "feedDistribution": {
                                            "mode": "chose",
                                            "label": "Main feed"
                                        },
                                        "isReshareDisabledByAuthor": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "linkedin2"
                                            },
                                            "label": "My LinkedIn connection (Sadegh Tajik)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:linkedin2,linkedin-openid",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "fileName",
                                        "type": "text",
                                        "label": "File name",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "altText",
                                        "type": "text",
                                        "label": "Alt Text"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content",
                                        "required": true
                                    },
                                    {
                                        "name": "visibility",
                                        "type": "select",
                                        "label": "Visibility",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "PUBLIC",
                                                "CONNECTIONS",
                                                "LOGGED_IN"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "feedDistribution",
                                        "type": "select",
                                        "label": "Feed Distribution",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "MAIN_FEED",
                                                "NONE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "isReshareDisabledByAuthor",
                                        "type": "boolean",
                                        "label": "Is Reshare Disabled",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}