n8n_workflows/SelfFlows/aleestvr6-workflows/UBcUwE2u2dmDuCjp-ASMR.json
{
  "name": "ASMR",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "d19044af-c93c-4244-8f50-6ef317442a10"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text input"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "667d8912-a2f7-4475-a881-98e304a0e755",
                    "leftValue": "={{ $json.message.voice.mime_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio input"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -560,
        -64
      ],
      "id": "2c1d0f6f-6d24-4a57-90d2-c9c57e06673c",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db50fb65-30a3-4703-9b95-6ff60220ec01",
              "name": "user_prompt",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "e52bfcbb-537f-42da-94c7-d9741c91f17e",
              "name": "user_id",
              "value": "={{ $json.message.from.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        -80
      ],
      "id": "3872e303-8dea-4dc6-a27c-69855237c105",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1697b616-e28a-44e4-acc3-c5506caf66ce",
              "name": "user_prompt",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "e727b20e-e8b4-4934-b83f-cc64b500ebfa",
              "name": "message.chat.id",
              "value": "={{ $json.message.from.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        112
      ],
      "id": "e33a5bce-e33b-4f71-84eb-68fb554e65eb",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -736,
        -64
      ],
      "id": "4c7f82de-fd37-4b86-be9a-03f41ae38ec0",
      "name": "Telegram Trigger",
      "webhookId": "ac80fdc2-8785-4550-b968-311dbeb3b702",
      "credentials": {
        "telegramApi": {
          "id": "wDkhFaQhWx1GykeQ",
          "name": "asmr"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ab010bdb-8c48-4ebf-b4dd-8ebc1832725d",
              "leftValue": "={{ $json.user_prompt }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        -80
      ],
      "id": "5557f8fe-f187-4a38-b2a0-efc18490f41d",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -384,
        112
      ],
      "id": "f8e1e300-8c4f-46f7-99ee-9e76aee4b4ed",
      "name": "Get a file",
      "webhookId": "dd148c4e-1734-4979-a7ab-0f2d7c941340",
      "credentials": {
        "telegramApi": {
          "id": "CxPj05WHVqEChuUD",
          "name": "Alee_stvr_TA"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -224,
        112
      ],
      "id": "8a4ed1db-3822-4be5-a9d4-d22da0244aa7",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "YUA487zJjgANPYyH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_prompt }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=You are an expert prompt designer for an AI video generator specializing in ASMR content. Your task is to take a user's request and transform it into a detailed, descriptive, and evocative prompt. The prompt must focus on creating a relaxing, sensory experience.\n\nWhen generating the prompt, you must include:\n- A clear and detailed description of the visuals, including colors, lighting, and textures.\n- Specific ASMR sound triggers like whispering, tapping, crinkling, or soft speaking.\n- The overall mood and aesthetic, such as cozy, minimalist, or natural.\n- The pacing and camera work, for example, \"slow, deliberate movements\" or \"a static, close-up shot.\"\n\nThe final output from you must be a JSON object with a single key: \"prompt\".\n\nExample user input: \"A video of rain on a window.\"\n\nYour output should be in this format:\n{\n  \"prompt\": \"A cinematic close-up shot of raindrops trickling down a clean windowpane at night. The city lights are blurred in the background, creating a soft, dreamy bokeh effect. The atmosphere is cozy and peaceful. The only sound is the gentle, rhythmic pitter-patter of the rain against the glass. The camera remains still, focusing on the intricate patterns of the water.\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        272,
        -32
      ],
      "id": "622afab0-c4c3-4a0f-a051-4cd6d3cf2073",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        304,
        256
      ],
      "id": "34071ba2-835d-4bda-829e-50a1432866df",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "i6A63CqaTqQMBPrP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -96,
        384
      ],
      "id": "7da26afa-6d4f-4a92-866c-9caaa2cd03de",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "LrMTVWMMNNE8sbyS",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        128,
        256
      ],
      "id": "5eea5d8f-d887-4430-bfa4-a84f0d430df7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YUA487zJjgANPYyH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kieai.erweima.ai/api/v1/veo/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.output }}"
            },
            {
              "name": "model",
              "value": "veo3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        -32
      ],
      "id": "b8978104-3f24-4d88-9fb6-8ad1da206401",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nxzp3EJNpdutnpdE",
          "name": "KIE_AI"
        },
        "httpBearerAuth": {
          "id": "MtZ9Rnp870o7dwVn",
          "name": "kieAI"
        }
      }
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        832,
        -32
      ],
      "id": "240c663d-d179-4215-a47f-a1bc40e138b6",
      "name": "Wait",
      "webhookId": "834985f1-7cfd-412d-9ed7-83831629928f"
    },
    {
      "parameters": {
        "url": "https://kieai.erweima.ai/api/v1/veo/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        -32
      ],
      "id": "79351b55-5422-4ba8-aa6c-d0a0c11c1fdf",
      "name": "HTTP Request1",
      "retryOnFail": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "nxzp3EJNpdutnpdE",
          "name": "KIE_AI"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        -32
      ],
      "id": "5276ba6b-0aca-473d-9653-e68e02db7af5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.welcome_msg }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1504,
        -32
      ],
      "id": "68a56ed8-ba7b-4c79-a814-88a15f4a35c7",
      "name": "Send a text message4",
      "webhookId": "a0c04661-06d0-4838-839f-c82009cb4def",
      "credentials": {
        "telegramApi": {
          "id": "wDkhFaQhWx1GykeQ",
          "name": "asmr"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kieai.erweima.ai/api/v1/veo/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        608
      ],
      "id": "53651b36-2634-4eef-b918-daa72bf03335",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nxzp3EJNpdutnpdE",
          "name": "KIE_AI"
        }
      }
    },
    {
      "parameters": {
        "url": "https://kieai.erweima.ai/api/v1/veo/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        480
      ],
      "id": "adb2f6e8-3fbd-4a84-977d-17575c678823",
      "name": "HTTP Request3",
      "retryOnFail": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "nxzp3EJNpdutnpdE",
          "name": "KIE_AI"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/veo3",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.output.replace(/\\n/g, '').replace(/\"/g, '') }}"
            },
            {
              "name": "aspect_ratio",
              "value": "9:16"
            },
            {
              "name": "generate_audio",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        1408
      ],
      "id": "66dcb437-2b39-4fa7-bb4e-3e211dc3a8ee",
      "name": "Generate Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nxzp3EJNpdutnpdE",
          "name": "KIE_AI"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        1408
      ],
      "id": "4b757e47-4567-49bd-af2e-06c2ec8cc9e7",
      "name": "Get Result",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nxzp3EJNpdutnpdE",
          "name": "KIE_AI"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c66c7c13-57ca-4191-9af3-5ab306dfedfc",
              "name": "Video URL",
              "value": "={{ $json.video.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        1408
      ],
      "id": "81b49e44-5d1d-4e16-9634-a6bcf95b2a3c",
      "name": "Result"
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1120,
        1408
      ],
      "id": "902553da-48f6-4ee4-8433-d0baf1bad77f",
      "name": "5 Minutes",
      "webhookId": "caad73e3-58d8-4fbd-a3e9-c42424f2d1ee"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        656,
        1072
      ],
      "id": "449a6f63-80b0-42ad-832b-23f2660f7b5c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1RW6sUbA8M2mkhrEgK4AfR_PZJajkXFT5FcTcrQ8C0JE",
          "mode": "list",
          "cachedResultName": "Veo 3 ASMR",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RW6sUbA8M2mkhrEgK4AfR_PZJajkXFT5FcTcrQ8C0JE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RW6sUbA8M2mkhrEgK4AfR_PZJajkXFT5FcTcrQ8C0JE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        864,
        1072
      ],
      "id": "a438fadd-856c-46e6-9005-9f3f8c4f3743",
      "name": "Get Past Objects",
      "credentials": {
        "googleApi": {
          "id": "C0M640IshVwpKOZR",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1392,
        1152
      ],
      "id": "ecd0d4e9-3620-413b-b23d-c794402b6fa4",
      "name": "GPT 4.1-mini",
      "credentials": {
        "openRouterApi": {
          "id": "N01mqp5fSMF3r9n6",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output.object }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an AI agent that specializes in generating text-to-video prompts optimized for ASMR-style videos using Google Veo 3. These videos must be 9:16 aspect ratio.\n\nYou will receive the name of a glass object (e.g. \"glass apple\", \"glass mushroom\", \"glass croissant\"). Your task is to generate a hyper-realistic, sensory-rich video prompt of that object being cut in a close-up ASMR scene.\n\n## Core Requirements:\n- The video must feel cinematic and photorealistic.\n- Scene is a static, close-up shot of a dark wooden cutting board and a large, heavy steel knife.\n- Cutting must look physically possible — glass should break cleanly, not shatter, with smooth, controlled slices.\n- The video starts immediately with the cutting action.\n- The object must retain some color (e.g. red glass apple, green glass pear) — not fully transparent — to create visual contrast.\n- No humans visible. Only one hand holding the knife, the other stabilizing the object.\n- The cut should include **four distinct ASMR sound layers**:\n  1. The sharp tap of the knife touching the glass  \n  2. The smooth, controlled slicing sound through the glass  \n  3. The soft thud as the knife hits the board  \n  4. The delicate clink as the cut piece lands on the board  \n- The **initial knife-glass contact should sound especially crisp and prominent**, like metal striking polished glass.\n\n## Prompt Requirements\n1. **Scene Description**: Detail the board material (e.g. walnut), light setup (e.g. soft top-down), and camera style.\n2. **Object Detail**: Describe the object’s color, shape, texture, and reflective qualities.\n3. **Cutting Action**: Describe the cut from start to finish with a smooth break — no splintering or shattering.\n4. **Sound Design**: Use vivid language to highlight the four-layer audio experience:\n   - Knife-glass contact\n   - The clean slice through colored glass\n   - The thud of knife on wood\n   - The glass piece gently hitting the board\n5. **Ambience**: Total silence except for cutting sounds. No music, talking, or background noise.\n\n## Format Output Like This:\n\n**Subject**: A hyper-detailed [glass object] resting on a dark wooden cutting board.  \n**Setting**: Static close-up, soft natural lighting, minimal background.  \n**Action**: A large steel knife slowly slices through the [glass object], breaking it into perfect segments with a deliberate, cinematic cut.  \n**Style**: Cinematic ASMR realism, photorealistic lighting and textures.  \n**Sound**: Four high-fidelity sound layers in each cut — (1) ultra high definition sound as the knife makes contact with the glass, (2) a clean, smooth slicing sound, (3) a muted wooden thud, and (4) a precise clink as each piece lands. The initial tap should be especially sharp and prominent, emphasizing the contact of steel on glass. No other audio.  \n**Camera Motion**: Fixed camera with slight focus shifts during movement.  \n**Composition**: Centered object, knife enters from edge.  \n**Ambiance**: Pin-drop silence around the cutting sounds.  \n**Aspect Ratio**: Always 9:16\n\nMake the viewer feel immersed — like they can hear and feel every slice. Visually surreal, physically satisfying."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        656,
        1408
      ],
      "id": "39089ecb-05bb-4d49-a236-badc89861700",
      "name": "Prompt Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Objects: {{ $json.objects.join(\", \") }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Overview  \nYou are an AI agent that selects unique **fruits** for ASMR-style glass cutting videos.\n\n## Your Task  \nYou will receive a list of 7 fruits that have already been used.  \nYour job is to generate **one new fruit** that is **not on that list**, and would look visually compelling if it were made of **glass** and cut with a knife in a close-up ASMR video.\n\n## Requirements\n- The fruit must **not repeat** any of the 7 provided items.  \n- The fruit must have a **clear, recognizable shape** and be **physically feasible** to cut with a knife (even if it’s made of glass).  \n- Prioritize fruits that would look **aesthetic and interesting** with a translucent, colored glass texture.  \n- Do **not** explain or describe the fruit.\n\n## Output Format  \nOutput a JSON object with the following structure:\n\n{\n  \"object\": \"Glass [Object name]\",\n  \"caption\": \"Glass [Object name] ASMR\"\n}\n\nReplace `[object name]` with the newly generated fruit. Do not include any punctuation or commentary.\n\n## Example Output  \n{\n  \"object\": \"Glass Apple\",\n  \"caption\": \"Glass Apple ASMR\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1392,
        1024
      ],
      "id": "3559dc04-d40f-4cfc-ab36-5382cb68112b",
      "name": "Idea Agent"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1040,
        1072
      ],
      "id": "fd8a7878-f0d7-47de-a38b-68bfceebc780",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf818c10-ad6d-4349-830f-393529a79d62",
              "name": "objects",
              "value": "=[\"{{ $json.data[0].Object }}\",\"{{ $json.data[1].Object }}\",\"{{ $json.data[2].Object }}\",\"{{ $json.data[3].Object }}\",\"{{ $json.data[4].Object }}\",\"{{ $json.data[5].Object }}\",\"{{ $json.data[6].Object }}\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1216,
        1072
      ],
      "id": "e90e7049-98a1-43a1-b430-b6bd46a36479",
      "name": "Set Object List"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"youtube\",\n      \"title\": \"{{ $('Idea Agent').item.json.output.caption }}\",\n      \"privacyStatus\": \"public\",\n      \"shouldNotifySubscribers\": false\n    },\n    \"content\": {\n      \"text\": \"{{ $('Idea Agent').item.json.output.caption }}\",\n      \"platform\": \"youtube\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"YOUR ACCOUNT ID\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1232,
        1728
      ],
      "id": "3a28c99b-fc8c-45ce-b277-2882ddeda335",
      "name": "YouTube",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nxzp3EJNpdutnpdE",
          "name": "KIE_AI"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"tiktok\",\n      \"isYourBrand\": false,\n      \"disabledDuet\": false,\n      \"privacyLevel\": \"PUBLIC_TO_EVERYONE\",\n      \"isAiGenerated\": true,\n      \"disabledStitch\": false,\n      \"disabledComments\": false,\n      \"isBrandedContent\": false\n    },\n    \"content\": {\n      \"text\": \"{{ $('Idea Agent').item.json.output.caption }}\",\n      \"platform\": \"tiktok\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"YOUR ACCOUNT ID\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        1728
      ],
      "id": "42a658ef-f4dc-4971-a989-8726e0794680",
      "name": "TikTok",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nxzp3EJNpdutnpdE",
          "name": "KIE_AI"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"instagram\"\n    },\n    \"content\": {\n      \"text\": \"{{ $('Idea Agent').item.json.output.caption }}\",\n      \"platform\": \"instagram\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"YOUR ACCOUNT ID\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        1728
      ],
      "id": "041c4745-9eea-43d0-958b-142a14fe7fe3",
      "name": "Instagram",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nxzp3EJNpdutnpdE",
          "name": "KIE_AI"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.URL }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        1728
      ],
      "id": "b2817284-3653-4414-81bb-261dbf8005fa",
      "name": "Upload to Blotato",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nxzp3EJNpdutnpdE",
          "name": "KIE_AI"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1RW6sUbA8M2mkhrEgK4AfR_PZJajkXFT5FcTcrQ8C0JE",
          "mode": "list",
          "cachedResultName": "Veo 3 ASMR",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RW6sUbA8M2mkhrEgK4AfR_PZJajkXFT5FcTcrQ8C0JE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RW6sUbA8M2mkhrEgK4AfR_PZJajkXFT5FcTcrQ8C0JE/edit#gid=0"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        704,
        1728
      ],
      "id": "14a24ad5-9dec-431d-a880-4c7a4fcaefd0",
      "name": "Delete First Row",
      "credentials": {
        "googleApi": {
          "id": "C0M640IshVwpKOZR",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1RW6sUbA8M2mkhrEgK4AfR_PZJajkXFT5FcTcrQ8C0JE",
          "mode": "list",
          "cachedResultName": "Veo 3 ASMR",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RW6sUbA8M2mkhrEgK4AfR_PZJajkXFT5FcTcrQ8C0JE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RW6sUbA8M2mkhrEgK4AfR_PZJajkXFT5FcTcrQ8C0JE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Object": "={{ $('Idea Agent').item.json.output.object }}",
            "URL": "={{ $('Result').item.json['Video URL'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Object",
              "displayName": "Object",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        880,
        1728
      ],
      "id": "55f7baeb-4668-453e-9a68-13a2e260c346",
      "name": "Append Object",
      "credentials": {
        "googleApi": {
          "id": "C0M640IshVwpKOZR",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"object\": {\n      \"type\": \"string\",\n      \"description\": \"A new object name in the format 'glass [object]', all lowercase with no punctuation.\"\n    },\n    \"caption\": {\n      \"type\": \"string\",\n      \"description\": \"A caption in the format 'glass [object] ASMR', matching the object field exactly.\"\n    }\n  },\n  \"required\": [\"object\", \"caption\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1584,
        1152
      ],
      "id": "2e0cf1a0-f428-4dce-b50c-5a1f85024b45",
      "name": "Object & Caption"
    },
    {
      "parameters": {
        "content": "# Part 1) Idea Generation",
        "height": 300,
        "width": 1140,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        960
      ],
      "id": "100284d8-3750-49a2-ad78-6f482b446f28",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Part 2) Video Generation",
        "height": 300,
        "width": 1140,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        1280
      ],
      "id": "aab93c47-c4f2-4aec-9f8a-0f665c831ffc",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Part 3) Posting to Socials",
        "height": 300,
        "width": 1140,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        1600
      ],
      "id": "a07b6614-3db6-4880-852a-78bbaa66834f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1424,
        1408
      ],
      "id": "1a7caa9d-8038-4e23-b7ee-a4203bbe3c4a",
      "name": "30 Seconds",
      "webhookId": "5f6bbd1e-a155-48de-b737-a225c6fd7a84"
    },
    {
      "parameters": {
        "content": "# 🛠️ Setup Guide  \n**Author:** [Nate Herk](https://www.youtube.com/@nateherk)\n\nFollow these steps to get your workflow fully functional:\n\n### ✅ Step 1: Connect Your [OpenRouter](https://openrouter.ai/) API Key  \nThis powers the AI agents. Ensure your key is active and integrated via OpenRouter chat models.\n\n### ✅ Step 2: Connect Your Fal AI API Key  \nEnter your API key securely in the HTTP Request nodes in Part 2.\n\n### ✅ Step 3: Connect [Blotato](https://blotato.com/?ref=nate) + Your Social IDs  \n💸 Use code **NATE30** for **30% off for 6 months**\n- Add your **Blotato API key**  \n- Enter your **YouTube**, **Instagram**, and **TikTok account IDs**  \n\n\n### ✅ Step 4: Copy This [Google Sheet Template](https://docs.google.com/spreadsheets/d/1lBLtXzxhhQiaJZR2EbYTwvMENnp8GnfU03KERpbMCBI/edit?usp=sharing)  \nMake a copy to your Google Drive, then connect the Google Sheets node to your version of the template.\n\n### 🚀 Final Step: Test the Flow  \nTrigger the workflow and verify that data flows through each service as expected.\n",
        "height": 940,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        32,
        960
      ],
      "id": "82ed95ac-fd60-4a90-a5f8-527192994ee2",
      "name": "Sticky Note3"
    }
  ],
  "connections": {
    "Switch1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video": {
      "main": [
        [
          {
            "node": "5 Minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Result": {
      "main": [
        [
          {
            "node": "Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "30 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Result": {
      "main": [
        [
          {
            "node": "Delete First Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5 Minutes": {
      "main": [
        [
          {
            "node": "Get Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Past Objects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Past Objects": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT 4.1-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Prompt Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Idea Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Agent": {
      "main": [
        [
          {
            "node": "Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idea Agent": {
      "main": [
        [
          {
            "node": "Prompt Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Set Object List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Object List": {
      "main": [
        [
          {
            "node": "Idea Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Blotato": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "TikTok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete First Row": {
      "main": [
        [
          {
            "node": "Append Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Object": {
      "main": [
        [
          {
            "node": "Upload to Blotato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Object & Caption": {
      "ai_outputParser": [
        [
          {
            "node": "Idea Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "30 Seconds": {
      "main": [
        [
          {
            "node": "Get Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}