n8n_workflows/SelfFlows/aleestvr4-workflows/znmA1qopMuhxr0Fa-Exa_ai_Researcher.json
{
  "name": "Exa.ai_Researcher",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.exa.ai/research/v0/tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "6a601f3d-16c4-4636-8acb-7e7c688ff3ad"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"exa-research\",\n  \"instructions\": \"{{ $json.query }}\",\n  \"output\": {\n    \"inferSchema\": true\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        496,
        352
      ],
      "id": "bb7e879e-b1e8-4995-98d4-94f3bb308911",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://api.exa.ai/research/v0/tasks/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "6a601f3d-16c4-4636-8acb-7e7c688ff3ad"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        352
      ],
      "id": "f5b85b8e-08db-4482-8b95-3680f9e04e54",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        720,
        352
      ],
      "id": "825c3945-9b97-4f75-b245-9f33b0b27b26",
      "name": "Wait",
      "webhookId": "c157da87-9673-4547-97e8-30dd8b86ff9f"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        64,
        624
      ],
      "id": "3aae8487-976f-4434-b39a-e9e4a344d8e4",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": null
}