n8n_workflows/SelfFlows/aleestvr-workflows/DVRlQPbUsa4NslyK-Document-Extractor.json
{
  "name": "Document Extractor",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "86a50e4d-c3f3-46e6-a84d-5f339b2ffcb1",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://google.github.io/adk-docs/get-started/",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36\",\n    \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8\",\n    \"Accept-Language\": \"en-US,en;q=0.9\",\n    \"Accept-Encoding\": \"gzip, deflate, br\",\n    \"Connection\": \"keep-alive\",\n    \"Upgrade-Insecure-Requests\": \"1\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "e62db8fb-2e52-4c80-9024-ac872596fae7",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "text": "={{ $json.data }}",
        "attributes": {
          "attributes": [
            {
              "name": "links",
              "description": "Array of all <a href=\"…\"> URLs"
            },
            {
              "name": "snippets",
              "description": "Array of extracted code blocks"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are a Documentation Extraction Agent.  \nYour task is to accept a base URL, recursively crawl all pages within the same origin, extract every hyperlink and its page content, and output a structured JSON array.  \nUse HTTP requests to fetch raw HTML, parse with CSS selectors to identify links and content sections (headings, paragraphs, code blocks, lists), and batch your requests to manage concurrency.  \nAlways obey the site’s robots.txt rules, respect rate limits, and handle errors gracefully via retries or logging.  \nProduce valid JSON where each object has:  \n  - “url”: the page’s absolute URL  \n  - “title”: the page’s `<title>` text  \n  - “content”: a nested structure of extracted text and code snippets  \nLimit your crawl to the given domain and do not follow external links.  "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        460,
        0
      ],
      "id": "edd57a5d-b415-44fe-b3b4-29052c62b9b2",
      "name": "Information Extractor",
      "disabled": true
    },
    {
      "parameters": {
        "model": "qwen/qwen3-235b-a22b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        240,
        280
      ],
      "id": "358253e0-3072-45af-8fe9-6228025a6201",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "VXrVH3CxR9uCUJ4X",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6436a66e-36f1-4a25-a8c6-5157410138b0",
              "name": "links",
              "value": "={{ $json.output.links }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        820,
        0
      ],
      "id": "740600c1-51de-4399-ac16-4db9eedd535f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1260,
        0
      ],
      "id": "455e21dd-ab81-48a2-a46f-70553c34d984",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node code\n// Assumes your previous node output looks like:\n// [\n//   {\n//     json: {\n//       links: \"https://.../get-started/ https://.../installation/ …\"\n//     }\n//   }\n// ]\n\nconst newItems = [];\n\nfor (const item of items) {\n  // grab the raw string\n  const linksString = item.json.links || '';\n  // split on whitespace, filter out any empty strings\n  const urls = linksString.split(/\\s+/).filter(u => u);\n  \n  // push each url as its own item\n  for (const url of urls) {\n    newItems.push({\n      json: { url }\n    });\n  }\n}\n\nreturn newItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ],
      "id": "0dde3a93-71bf-4aa8-aa62-950f1fd06d4c",
      "name": "Code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2520,
        420
      ],
      "id": "8a754384-103d-4e19-8e8c-a76caf10e37a",
      "name": "Wait",
      "webhookId": "df1e9df4-3c55-48b6-8901-c64971ef2cc2"
    },
    {
      "parameters": {
        "url": "https://google.github.io/adk-docs/get-started/",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36\",\n    \"Accept\": \"text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8\",\n    \"Accept-Language\": \"en-US,en;q=0.9\",\n    \"Accept-Encoding\": \"gzip, deflate, br\",\n    \"Connection\": \"keep-alive\",\n    \"Upgrade-Insecure-Requests\": \"1\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        80
      ],
      "id": "6514e1ad-f99a-4eaa-98ce-ae0a6ada3852",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "text": "={{ $json.data }}",
        "attributes": {
          "attributes": [
            {
              "name": "doc",
              "description": "extract articles and codes in the page"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are a Documentation Extraction Agent.  \nYour task is to accept a base URL, recursively crawl all pages within the same origin, extract every hyperlink and its page content, and output a structured JSON array.  \nUse HTTP requests to fetch raw HTML, parse with CSS selectors to identify links and content sections (headings, paragraphs, code blocks, lists), and batch your requests to manage concurrency.  \nAlways obey the site’s robots.txt rules, respect rate limits, and handle errors gracefully via retries or logging.  \nProduce valid JSON where each object has:  \n  - “url”: the page’s absolute URL  \n  - “title”: the page’s `<title>` text  \n  - “content”: a nested structure of extracted text and code snippets  \nLimit your crawl to the given domain and do not follow external links.  "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        1920,
        80
      ],
      "id": "39150ea9-567f-4693-a386-087c8777a82b",
      "name": "Information Extractor1"
    },
    {
      "parameters": {
        "model": "qwen/qwen3-235b-a22b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1700,
        360
      ],
      "id": "bf368988-ce25-4e12-8ea5-597fc4ad431c",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "VXrVH3CxR9uCUJ4X",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6436a66e-36f1-4a25-a8c6-5157410138b0",
              "name": "doc",
              "value": "={{ $json.output.doc }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2280,
        80
      ],
      "id": "5a3bc132-13a5-4226-944b-39bf57905483",
      "name": "Edit Fields1"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Information Extractor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {
    "Edit Fields": [
      {
        "json": {
          "links": "https://google.github.io/adk-docs/, https://google.github.io/adk-docs/get-started/installation/, https://google.github.io/adk-docs/get-started/quickstart/, https://google.github.io/adk-docs/get-started/quickstart-streaming/, https://github.com/google/adk-samples, https://google.github.io/adk-docs/get-started/about/, https://google.github.io/adk-docs/get-started/testing/, https://google.github.io/adk-docs/tutorials/, https://google.github.io/adk-docs/agents/, https://google.github.io/adk-docs/tools/, https://google.github.io/adk-docs/runtime/, https://google.github.io/adk-docs/deploy/, https://google.github.io/adk-docs/sessions/, https://google.github.io/adk-docs/callbacks/, https://google.github.io/adk-docs/artifacts/, https://google.github.io/adk-docs/events/, https://google.github.io/adk-docs/context/, https://google.github.io/adk-docs/evaluate/, https://google.github.io/adk-docs/mcp/, https://google.github.io/adk-docs/streaming/, https://google.github.io/adk-docs/safety/, https://github.com/google/A2A/, https://google.github.io/adk-docs/community/, https://google.github.io/adk-docs/contributing-guide/, https://google.github.io/adk-docs/api-reference/"
        }
      }
    ]
  },
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}